.App {
  background-color: #282c34;
  min-height: 100vh;
}

.jobs-grid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.jobs-grid .col {
  flex-basis: 25%;
}

@media only screen and (max-width: 1250px) {
  .jobs-grid .col {
    flex-basis: 33%;
  }
}

@media only screen and (max-width: 1000px) {
  .jobs-grid .col {
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  /* [class*="col-md-"] {
    width: 100%;
  } */

  .jobs-grid .col {
    flex-basis: 100%;
  }
}

.search-form {
  padding: 1rem;
}

.form-label {
  color: white;
}