.App {
  background-color: #282c34;
  min-height: 100vh;
  padding: 1rem;
}

.job-results {
  padding-top: 1rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.form-label, .toggle-label, .results-text {
  color: white;
}

#left-toggle-label {
  margin-right: 2.75rem;
}

.results-toggle-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .results-text {
    flex-basis: 100%;
  }
  .custom-switch {
    flex-basis: 100%;
    padding-left: 0 !important;
  }
}

.pagination-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pages-element {
  margin: 0.25rem 0rem;
}

