.App {
  background-color: #282c34;
  min-height: 100vh;
  padding: 1rem;
}

.job-results {
  padding-top: 1rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.form-label, .toggle-label, .results-text {
  color: white;
}

#left-toggle-label {
  margin-right: 2.75rem;
}

.custom-switch {
  margin-left: auto;
  margin-bottom: 0.5rem;
}

.pages-element {
  margin: 0.25rem 0rem;
}